{
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier/@typescript-eslint",
        "plugin:prettier/recommended"
    ],
    "plugins": ["react", "@typescript-eslint", "prettier", "react-hooks"],
    "env": {
        "browser": true,
        "jasmine": true,
        "jest": true,
        "node": true
    },
    "rules": {
        "prettier/prettier": ["error", { "singleQuote": true, "endOfLine": "auto" }],
        "react-hooks/rules-of-hooks": "error",
        "react-hooks/exhaustive-deps": "off"
    },
    "settings": {
        "react": {
            "pragma": "React",
            "version": "detect"
        }
    },
    "parser": "@typescript-eslint/parser",
    "overrides": [
        {
            "files": ["**/*.tsx"],
            "rules": {
                "react/prop-types": "off"
            }
        }
    ]
}
